@charset "UTF-8";

.purple
{
	background:#9B5DE0;
}

body{
	min-height: 100vh;
	background: linear-gradient(to top right, lightskyblue, rgba(255, 0, 0, 0.4));
}

.home-container {
	border-radius: 20px;
	position: relative;
}

.home-container::before{
	position: absolute;
	content: "";
	border-radius: inherit;
	inset: -8px;
	background: linear-gradient(to top right,
		violet,
		indigo,
		blue,
		green,
		yellow,
		orange,
		red
	);
	z-index:-1;
}

#create-note-card, #update-card{
	border-radius: 20px;
	position: relative;
}

#create-note-card::before, #update-card::before{
	content: "";
	position: absolute;
	inset: -8px;
	border-radius: inherit;
	background: linear-gradient(to top right, black, brown);
	z-index: -1;
}

.show-card{
	position: relative;
	border-radius: 20px;
}

.show-card::before
{
	content: "";
	position: absolute;
	border-radius: inherit;
	inset: -8px;
	background: linear-gradient(to top right, orange, yellow, skyblue);
	z-index: -1;
}